# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Sphinx
sphinx~=9.1.0

# Themes
pydata-sphinx-theme~=0.21.0

# Frontend Extensions
sphinx_design~=0.7.0
sphinx-copybutton~=0.5.2
sphinxcontrib-contentui~=0.2.5
sphinxcontrib-video~=0.4.2
sphinx-togglebutton~=0.3.2
sphinxcontrib-images~=0.9.4
sphinxcontrib-mermaid~=1.0.0
sphinxcontrib-jquery~=4.1

# Build System Extensions
myst-parser~=5.1
breathe~=4.36.0
sphinx-favicon~=1.0.1
sphinx-sitemap~=2.6.0
sphinx-autobuild~=2024.10.3
sphinxcontrib-openapi~=0.8.4
swagger-plugin-for-sphinx~=7.2.1
sphinxcontrib.asciinema~=0.4.2

# license check
reuse~=6.2.0

# autogeneration
ruamel.yaml~=0.18.10
jinja2~=3.1.6

# linting and formatting
doc8~=1.1.2
pylint~=3.3.4
black>=26.3.1
yamllint~=1.35.1
sphinxcontrib-spelling~=8.0.0

