.container {
  padding: calc(var(--size-70) / 2) 0;
}

.cards {
  gap: var(--size-16);
  display: flex;
  margin-top: var(--size-48);
}

@media (max-width: 996px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--size-16);
  }

  .card {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .cards {
    grid-template-columns: minmax(0, 1fr);
  }
}

.exploreMore {
  margin-top: 48px;
  font-size: var(--font-size-16);
}

.card {
  max-width: var(--size-270);
}
